@font-face {
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

.cart {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}

.cart h4 {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    color: #4e5a62;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}

.cart-items {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.cart-item img {
	height: 150px;
}

.btn-cart {
	padding-top: 50px;
	margin-left: auto;
    margin-right: auto;
}

.button {
    border: none;
    background-color: #7db122;
    font-size: 32px;
    color: white;
    border-radius: 50px;
    outline: none;
    height: 50px;
    width: 50px;

}

.btn-success {
    padding: 10px 20px;
    border: 1px solid #7db122;
    background-color: transparent;
    border-radius: 50px;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    color: #4e5a62;
    font-weight: 600;
}

.btn-success:hover {
    background-color: #7db122;
    color: white;
    outline: none;
}