.modal {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.modal-window {
	width: 300px;
	background-color: #fff;
	border-radius: 40px;
	padding: 40px;
	z-index: 120;
}