@font-face {
	font-family: 'OpenSans';
	src: url(../../../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}

body {
	margin: 0;
}

header {
	padding: 0;
}

.selects {
	display: flex;
}

select {
	border: none;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	padding: 0 188px;
	background-color: #4cb1ca;
	border-bottom: 2px solid #e8edec;
	font-size: 13px;
	font-family: 'OpenSans', sans-serif;
}


.account option {
	color: black;
}

.language {
	display: flex;
	background: transparent;
	border: 0;
	width: 140px;
   	height: 45px;
   	overflow: hidden;
   	background: url('../../../images/arrow.png') no-repeat right;
}

.language p {
	color: #bef2ff;
}

.currency {
	display: flex;
	margin-left: 25px;
	width: 120px;
   	height: 45px;
   	overflow: hidden;
   	background: url('../../../images/arrow.png') no-repeat right;
}

.currency p {
	color: #bef2ff;
}

select {
	background: transparent;
	border: 1px solid #4cb1ca;
	color: white;
	outline: none;
	-webkit-appearance: none;
  	margin-left: 5px;
  	width: 65px;

}

.account ul {
    font-weight: 100;
    margin: 0;
    padding: 0;
    list-style: none;
}

.account ul li {
	display: inline-block;
	color: white;
    margin-right: 15px;
    height: 65px;
    line-height: 65px;
	cursor: pointer;
}

ul li:last-child {
	margin-right: 0;
}

.account > ul > li::after {
	content: '';
	border-right: 1px solid white;
	padding-right: 15px;
}

.account > ul > li:last-child::after {
	content: '';
	padding-right: 0;
	border: none;
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 107px;
	padding: 0 188px;
	background-color: white;
	border-bottom: 2px solid white;
	font-family: 'OpenSans', sans-serif;
	font-weight: 700;
	color: #4e5a62;
}

.LogoImg {
	height: 85px;
	width: auto;
	vertical-align: top;
}

.logo ul {
	width: 45%;
	font-size: 14px;
	list-style: none;
	font-weight: 700;
	color: #4e5a62;
	margin: 0;
    padding: 0;
}

.logo ul li {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}

.logo ul li:first-child {
	margin-left: 0;
}

form {
	opacity: 0.7;
	width: 12%;
}

input[type=search] {
	border: 1px solid #c6c6c6;
	color: #c6c6c6;
	font-weight: normal;
	padding: 10px 9px;
	background-color: transparent;
	width: 160px;
	outline: none;
}

input[type=submit] {
	display: none;
}

.btnCart {
	height: 35px;
	width: auto;
	margin: 0;
	display: flex;
}

.btnCart img {
	margin-right: 6px;
	cursor: pointer;
}

.btnCart p {
	margin: 0 0 0 5px;
    padding: 0;
    line-height: 37px;
    font-size: 14px;
    cursor: pointer;
}
